[Unit]
Description=Make Backup Demon
After=network.target

[Service]
ExecStart=/etc/make_backup/Make_Backup_d.sh
Restart=always
User=noam
Group=noam

[Install]
WantedBy=default.target
