[Unit]
Description=Make Backup Demon
After=network.target

[Service]
ExecStart=/opt/make_backup/make_backup_d.sh
Restart=always
User=changeme
Group=changeme

[Install]
WantedBy=default.target
